<!doctype html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>FAQ - Event Manager</title>
    <link rel="stylesheet" href="../static/styles/basic.css"
          th:href="@{/styles/basic.css}">
    <link rel="stylesheet" href="../static/styles/main.css"
          th:href="@{styles/main.css}">
    <link rel="icon" href="../static/em-icon.png"
          th:href="@{/em-icon.png}">
    <script src="../static/scripts/auth.js" th:src="@{/scripts/auth.js}"></script>
</head>

<body>
    <div th:insert="~{page-parts :: heading}"></div>

    <div class="fullOutside">
        <div class="greeting">
            <br>
            Welcome,&nbsp;<div sec:authentication="name" style="display: inline">[unknown name]</div>!
        </div>
        <br>
        <div th:if="${!tickets.isEmpty()}" class="tickets">
            <span class="ticketName">Your tickets:</span>
            <ol>
                <li th:each="ticket : ${tickets}" class="ticketRow">
                    <br>
                    Event: <span class="ticketName" th:text="${ticket.event.eventTitle}"></span>
                </li>
            </ol>
        </div>
        <h4 th:if="${tickets.isEmpty()}">Seems like you have no events coming up!</h4>
    </div>

    <div th:insert="~{page-parts :: footing}"></div>
</body>

</html>