<html lang="ua"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link rel="stylesheet" href="../static/styles/basic.css"
      th:href="@{/styles/basic.css}">
<header th:fragment="heading">
        <h1 id=name>
            Event
            <br>
            Manager
        </h1>
        <div id="icon-container" sec:authorize="isAuthenticated()">
            <img id="user-icon" alt="user-icon" src="../static/blank-user.png"
                 th:src="@{/blank-user.png}">
        </div>
        <div id="login-reg" sec:authorize="!isAuthenticated()">
            <button class="log-reg-button" th:onclick="'location.href=\'' + @{/login} + '\''">Login</button>
            <button class="log-reg-button" th:onclick="'location.href=\'' + @{/register} + '\''">Register</button>
        </div>
        <div id="header-navigation">
            <button class="nav-button" th:onclick="'location.href=\'' + @{/view-building/} + '\''">Buildings</button>
            <button class="nav-button" th:onclick="'location.href=\'' + @{/view-event/} + '\''">Events</button>
            <button class="nav-button" th:onclick="'location.href=\'' + @{/view-ticket/} + '\''">Tickets</button>
            <button class="nav-button" th:onclick="'location.href=\'' + @{/view-user/} + '\''">Users</button>
        </div>
        <img id=icon alt="Event Manager" src="../static/em-icon.png"
             th:src="@{/em-icon.png}">
</header>

<footer th:fragment="footing">
    <ul class="footerList">
        <li>
            <a href="/login">Main Site</a>
        </li>
        <li>
            <a href="/FAQ.html">FAQ</a>
        </li>
    </ul>
</footer>

</html>