body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #bec8d1;
}

header {
    width: 100%;
    background-color: #1B1F23;
    display: flex;

}

#name {
    font-family: Verdana, sans-serif;
    color: aliceblue;
    padding-left: 10px;
}

#icon {
    top: 10px;
    right: 10px;
    position: absolute;
    width: 100px;
    height: 100px;
}

#icon-container {
    position: absolute;
    text-align: center; /* Center-align its contents if multiple items are added */
    width: 100%; /* Optional: spans the width of the header */
}

#login-reg {
    position: absolute;
    text-align: center; /* Center-align its contents if multiple items are added */
    width: 100%; /* Optional: spans the width of the header */
}

#user-icon {
    display: inline-block;
    margin: 0 auto;
    padding-top: 20px;
    width: 50px;
    height: 50px;
}

.log-reg-button {
    background-color: #F0F8FF;
    color: #1B1F23;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.log-reg-button:hover {
    background-color: #444a50;
}

.fullOutside{
    background-color: #F0F0F0;
    box-shadow: #1B1F23 1px 1px 25px;
    width: 60vh;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}

.inside {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Monospace, monospace;
    color: black;
}

footer{
    width: 100%;
    background-color: #1B1F23;
    display: flex;
}

li{
    list-style: none;
    font-family: Verdana, sans-serif;
    color: aliceblue;
    padding-left: 10px;
    font-size: 12px;
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}