body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

header {
    position: absolute;
    width: 100%;
    word-wrap: break-word;
    background-color: #1B1F23;
    display: flex;
}

#name {
    font-family: Verdana, sans-serif;
    color: aliceblue;
    padding-left: 10px;

}

#icon {
    top: 10px;
    right: 10px;
    position: absolute;
    width: 100px;
    height: 100px;
}